* {
    padding: 0;
    margin: 0;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

nav {
    width: 1370px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 139px;
    height: 60px;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

nav .btn {
    padding: 12px 16px;
    border: none;
    background-color: #30B868;
    border-radius: 4px;
    color: white;
}

/* banner tag  */
.banner {
    text-align: center;
    padding: 200px 400px;
    background-image: url("../assets/hero-bg.png");
}

.banner .bu1 {
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: #30B868;
    padding: 6px;
    border-radius: 100px;
    border: none;
}

.banner h1 {
    font-size: 64px;
    font-weight: 700;
}

.banner p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.banner .bu2 {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: aliceblue;
}

.banner .bu3 {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 16px;

}